---
import Hero from "../components/Hero.astro";
import Nav from "./Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sebastián Núñez">
	<Nav />
	<Hero />
	<p class="p-5 flex justify-center">WIP</p>
	<div class="px-5">
		<p>Soy Ingeniero Informático nacido en Chile viviendo en México.</p>
		<p>Empecé el 2021 como desarrollador Fullstack trabajando con tecnologías como React y Angular de frontend y usando Node.js de backend.</p>
		<p>Desde el 2023 empecé a trabajar como Ingeniero de Datos usando tecnologías como Impala, SQL, Spark, Scala y Hive para crear procesos ETL.</p>
	</div>
</Layout>
