---
import logo from "../images/logo.svg";
import NavItem from "../components/NavItem.astro";
---

<nav class="px-4 py-5 flex">
  <ul class="flex items-center justify-end w-full">
    <li>
      <a href="#" class="flex w-[20px]"><img src={logo} alt="logo"/></a>
    </li>
    <li class="flex-grow"></li>
    <NavItem title="Acerca de mi" href="#" />
    <NavItem title="Proyectos" href="#" />
  </ul>
</nav>
