---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<li class="flex hover:underline hover:underline-offset-8 text-cyan-100 hover:text-cyan-300 transition-colors duration-300">
	<a href={href}>
		<h2 class="text-sm">
			{title}
		</h2>
	</a>
</li>
